@import "./variables.scss";
@import "./general.scss";
@import "./animations.scss";

body{
    background-color: #f1f1f1;
}
.setting_bar--container{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 10px 0 10px 0;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #1e1e1e;
}

.button {
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.bounce {
  animation-name: bounce_animation;
}

.slide_top{
    animation-name: slide_top_animation;
}
.slide_left {
  animation-name: slide_left_animation;
}
.slide_bottom {
  animation-name: slide_bottom_animation;
}
.slide_right {
  animation-name: slide_right_animation;
}

.fade {
  animation-name: fade_animation;
}

.zoom {
  animation-name: zoom_animation;
}

.shake {
  animation-name: shake_animation;
}
